/* import google fonts of poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

body{
    padding: 0 30px;

}
#src-btn,.screenshot{
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
}
#src-btn{
    bottom: 15px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    padding: 15px 25px;
    border-radius: 30px;
    background: #e0bc01;

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    
}

.src-preview{
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.65);
}

.src-preview.show{
    display: block;
}

.src-preview .screenshot{
    /* background: #fff; */
    width: 70%;
    top: 50%;
    aspect-ratio: 16 / 9;
}

.screenshot #close-btn{
    position: absolute;
    right: -25px;
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
}

.screenshot img{
    width: 100%;
}